zingfish_payment_services/wsdl/PaymentZingFish.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="PaymentZingFish" targetNamespace="urn:PaymentZingFish" xmlns:typens="urn:PaymentZingFish" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="AddMoney">
		<part name="zingID" type="xsd:integer"/>
		<part name="nMoney" type="xsd:integer"/>
		<part name="transactionID" type="xsd:string"/>
		<part name="servicepassword" type="xsd:string"/>
	</message>
	<message name="AddMoneyResponse">
		<part name="AddMoneyReturn" type="xsd:anyType"/>
	</message>
	<message name="ChargeMoney">
		<part name="zingID" type="xsd:integer"/>
		<part name="sAccountName" type="xsd:string"/>
		<part name="nMoney" type="xsd:integer"/>
		<part name="transactionID" type="xsd:string"/>
		<part name="aArrayInfo" type="xsd:string"/>
	</message>
	<message name="ChargeMoneyResponse">
		<part name="ChargeMoneyReturn" type="xsd:anyType"/>
	</message>
	<message name="GetMoney">
		<part name="zingID" type="xsd:integer"/>
		<part name="servicepassword" type="xsd:string"/>
	</message>
	<message name="GetMoneyResponse">
		<part name="GetMoneyReturn" type="xsd:anyType"/>
	</message>
	<message name="GetUser">
		<part name="zingID" type="xsd:integer"/>
		<part name="servicepassword" type="xsd:string"/>
	</message>
	<message name="GetUserResponse">
		<part name="GetUserReturn" type="xsd:anyType"/>
	</message>
	<portType name="PaymentZingFishPortType">
		<operation name="AddMoney">
			<documentation>
				function AddMoney
			</documentation>
			<input message="typens:AddMoney"/>
			<output message="typens:AddMoneyResponse"/>
		</operation>
		<operation name="ChargeMoney">
			<documentation>
				function ChargeMoney
			</documentation>
			<input message="typens:ChargeMoney"/>
			<output message="typens:ChargeMoneyResponse"/>
		</operation>
		<operation name="GetMoney">
			<documentation>
				function GetMoney
			</documentation>
			<input message="typens:GetMoney"/>
			<output message="typens:GetMoneyResponse"/>
		</operation>
		<operation name="GetUser">
			<documentation>
				function GetUser
			</documentation>
			<input message="typens:GetUser"/>
			<output message="typens:GetUserResponse"/>
		</operation>
	</portType>
	<binding name="PaymentZingFishBinding" type="typens:PaymentZingFishPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AddMoney">
			<soap:operation soapAction="urn:PaymentZingFishAction"/>
			<input>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ChargeMoney">
			<soap:operation soapAction="urn:PaymentZingFishAction"/>
			<input>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetMoney">
			<soap:operation soapAction="urn:PaymentZingFishAction"/>
			<input>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetUser">
			<soap:operation soapAction="urn:PaymentZingFishAction"/>
			<input>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:PaymentZingFish" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="PaymentZingFishService">
		<port name="PaymentZingFishPort" binding="typens:PaymentZingFishBinding">
			<soap:address location="http://fish.apps.zing.vn/zingfish_payment_services/PaymentZingFish.php"/>
		</port>
	</service>
</definitions>